.EndScreenContainer
{
  width: 50%;
  height: 85%;
  margin-top: 5%;

  horizontal-align: center;
  flow-children: down;
}

#BottomContainer
{
  height: 10%;
  width: 100%;
}

#CreditContainer
{
    height: 80%;
    width: 75%;

    font-size: 24px;
    color: white;

    flow-children: down;
    vertical-align: bottom;

    transform: translateY(100px);
}

#Credit
{
  height: 50%;
  width: 100%;

  horizontal-align: left;
}

#Feedback
{
  height: 50%;
  width: 100%;

  horizontal-align: left;
}

#CloseButton
{
  height: 80%;
  width: 20%;
  background-color: black;

  border: 1px solid white;

  horizontal-align: right;
  vertical-align: bottom;

  transform: translateX(500px);
}

#CloseButton:hover
{
  background-color: gray;
}

#CloseButton Label
{
  font-size: 30;
  color: white;
  horizontal-align: center;
  vertical-align: center;
}

#VictoryRow
{
  height: 10%;
  width: 100%;

  transform: scaleX(2) scaleY(2);
  opacity: 0;
}

#EndScreenVictory
{
  font-size: 48px;
  color: white;

  text-align: center;
  horizontal-align: center;
  vertical-align: center;
}

#EndScreenPlayers
{
  color: white;
  height: 80%;
  width: 100%;

  flow-children: down;

  background-color: black;
  opacity: 0.9;

  transform: rotateY(90deg);
}

#TableLabels
{
  font-size: 30px;

  flow-children: down;
  horizontal-align: center;
  height: 10%;
  width: 100%;
}

#LabelRow
{
  horizontal-align: center;
  flow-children: right;
  width: 100%;
  height: 100%;
}

#RadiantPlayers
{
  flow-children: down;
  width: 100%;
  height: 45%;

  border-bottom: 1px solid white;
}

#DirePlayers
{
  flow-children: down;
  width: 100%;
  height: 45%;

  border-top: 1px solid white;
}

.Player
{
  font-size: 30px;
  color: white;

  height: 20%;
  width: 100%;

  horizontal-align: center;
  flow-children: right;

  border-top: 1px solid white;
}

.HeroIcon
{
  width: 10%;
  horizontal-align: center;
  vertical-align: center;
}

.HeroIcon DOTAHeroImage
{
  horizontal-align: center;
}

.HeroIcon Label
{
  width: 10%;
}

.Name
{
  width: 45%;
  horizontal-align: center;
  vertical-align: center;
}

.Name Label
{
  width: 100%;
  text-align: center;
}

.Kills
{
  width: 15%;
  vertical-align: center;
}

.Kills Label
{
  width: 100%;
  text-align: center;
}

.Deaths
{
  width: 15%;
  vertical-align: center;
}

.Deaths Label
{
  width: 100%;
  text-align: center;
}

.Assists
{
  width: 15%;
  vertical-align: center;
}

.Assists Label
{
  width: 100%;
  text-align: center;
}
