.TopLevelContainer
{
  width: 100%;
  height: 100%;
}

#VotePanelContainer
{
  width: 60%;
  height: 30%;
  horizontal-align: center;
  vertical-align: center;
  flow-children: down;
  background-color: #000000fc;
  border-radius: 10px;
}

.VotePanelDescription
{
  width: 100%;
  height: 20%;
  horizontal-align: center;
  font-size: 56px;
  margin-bottom: 10px;
}

.VotePanelDescriptionText
{
  width: 100%;
  color: white;
  text-align: center;
}

.VoteOptions
{
  width: 100%;
  height: 80%;
  flow-children:right;
}

.VoteOptionContainer
{
  width: 33%;
  height: 100%;
  margin: 5px;
  flow-children: down;
}

.VoteOption
{
  width: 100%;
  height: 45%;
  background-color: gradient( linear, 0% 100%, 0% 0%, from( #009900FF ), to( #46B546FF ) );
  border-radius: 5px;
  margin-bottom: 5px;
}

.VoteOptionText
{
  color: white;
  horizontal-align: center;
  vertical-align: center;
  margin-bottom: 20px;
  font-size: 50px;
}

.VoteOptionDescription
{
  color: white;
  horizontal-align: center;
  vertical-align: bottom;
  margin-bottom: 10px;
  font-size: 24px;
}

.AvatarDisplay
{
  width: 100%;
  height: 55%;
  flow-children: right-wrap;
}

DOTAAvatarImage
{
  width: 15%;
  margin-right: 5px;
  margin-bottom: 5px;
}

#CountdownContainer
{
  horizontal-align: center;
  width: 100%;
  height: 5%;
  y: 65%;
}

#Countdown
{
  horizontal-align: center;
  text-align: center;
  width: 10%;
  height: 100%;
  font-size: 40px;
  color: white;
}

.ButtonHover
{
  box-shadow: fill #46B546FF 0px 0px 8px 0px;
}

.ButtonPressed
{
  box-shadow: inset #0f0f0fff 0px 2px 12px 4px;
}
